/* general naming convention for classes:   ."page name"-"section name"-"type"    */

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://64.media.tumblr.com/2373e89c6f3b7b6957f6a61dc4e669a3/tumblr_piat5g7e4H1qhh8pqo1_500.gifv");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: 100px;
  background-position: 50% 0;
}

/* for hyperlinks */
a{
  color: aqua;
  text-decoration: none;
}

a:hover{
  background-color: rgb(51, 41, 41);
  color: aliceblue;
}


/*=================*/
/* Navbar settings */
/*=================*/

.navbar{
  z-index: 1;
  position: fixed;
  display: flex;
  background-image: url("https://cdn.wallpapersafari.com/25/83/6zAhib.jpg");
  color: white;
  align-items: center;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}


.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
  font-size: 20px;
}

.navbar-links li a{
  font-family: BarlowCondensed,Spiegel,Arial,sans-serif;
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: aliceblue;
  text-shadow: 1px 1px black;
}


/*==================*/
/* General settings */
/*==================*/


/* The K/DA logo (not in navbar) */
.main-logo{
  position: relative;
  margin-top: 20%;
  width: 50%;
}

/* video */
iframe{
  height: auto;
  width: auto;
}


/* no border */
.no-border{
  border: 0;
}


/* heading style */
h1,h2,h3{
  color: aliceblue;
  font-family: BarlowCondensed,Spiegel,Arial,sans-serif;
  text-align: center;
  background:black;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5%;
  padding: 2% 2%;
}


/*===========*/
/* Home page */
/*===========*/


/* Home page member section */

/* container for members*/
.home-members-container{
  display: flex;
  justify-content: space-around;
  background-image: url("https://cdn.wallpapersafari.com/25/83/6zAhib.jpg");
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80%;
  margin: 20%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  padding: 2% 2%;

}

/* member names */
.home-members-container h2{
  font-size: 120%;
  width: 100%;
}

/* members names and icon */
.home-members-container div{
  padding: 2% 2%;
  text-align: center;
  width: 30%;
  font-size: 80%;
}

/* members icon */
.home-members-container img{
  width: 110%;
  height:auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: black;
}

/* icon increases in size when hovered */
.home-members-container a:hover img{
  width: 115%;
}

/* Container for music video section */
.home-mv-container{
  padding: 2% 2%;
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: black;
}

/* Container for the individual music videos */
.home-mv-individual{
  display: flex;
  justify-content: space-around;
  background: black;
  color: white;
  font-family: BarlowCondensed,Spiegel,Arial,sans-serif;
  padding: 2% 2%;
  margin: 3%;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Title for the music video section */
.mv-title{
  position: relative;
  text-align: center;
  padding: 2% 2%;
  margin: 3%;
  margin-left: 10%;
  margin-right: 10%;
  border: 0;
}



/* Container for only the title and description */
.home-mv-individual div{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5%;
}

/*===========*/
/* About page */
/*===========*/

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:black;
  padding: 1% 1%;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 2%;
}

.about-container p{
  color: aliceblue;
  font-family: BarlowCondensed,Spiegel,Arial,sans-serif;
  margin: 2%;
  padding: 2% 2%;
  font-size: 20px;

}

.about-container img{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* About page Members section */

/* Container for whole member section */
.about-member-container{
  background-image:url("https://cdn.wallpapersafari.com/25/83/6zAhib.jpg");
  border: 1px solid #ddd;
  border-radius: 4px;
  color: aliceblue;
  font-family: BarlowCondensed,Spiegel,Arial,sans-serif;
  display: flex;
  flex-direction: row;
  padding: 2% 2%;
  margin: 10%;
}


/* member information */
.about-member-container p{
  background: black;
}

/* member role name and icon */
.member-name-role-icon{
  width: 100%;
}

.member-name-role-icon h2{
  font-size: 100%;
}

/* member icon */
.about-member-container img{
  width: 100%;
  height: auto;
  background-color: black;
  padding: 2% 2%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* member info */
.member-description{
  padding: 2% 2%;
  margin: 5%;
  margin-top: 10%;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* About page Live performances section */
.about-live-container{
  display: flex;
  flex-direction: row;
}

.about-live-container div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  padding: 2% 2%;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 30%;
}

/* Individual videos */
.about-live-container div iframe{
  padding: 1% 1%;
  margin-bottom: 5%;
  background: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 90%;

}

/* About page Gallery section */
.about-gallery-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: black;
  width: 100%;
  padding: 1% 1%;
  margin-bottom: 5%;

}

/* Gallery image individual */
.about-gallery-container img{
  padding: 1% 1%;
  width: 40%;
  margin: 2%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* About page Social media container */
.about-social-media-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  text-align: center;
  width: 80%;
  padding: 3% 3%;
  margin: 10%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Group for all icons */
.about-social-media-container div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-social-media-container a{
  width: 30%;
  padding: 2% 2%;
  margin: 2%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Individual social media icons */
.about-social-media-container a img{
  width: 100%;
}


/*================*/
/* For music page */
/*================*/

/* promotion for the new album */
.music-promotion{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 10%;
  margin-top: 20%;
  
}
/* album img */
.music-promotion img{
  /* centering the image */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* individual song container */
.music-songs-container div{
  display: flex;
  flex-direction: column;
  background: black;
  align-content: center;
  align-items: center;
  padding: 2% 2%;
  margin: 5%;
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* song icons */
.music-songs-container div img{
  width: 70%;
  height: auto;
}

/* buttons to listen */
.music-songs-container div a{
  width: 50%;
  height: auto;
  padding: 3% 3%;
}

/*============*/
/* Store page */
/*============*/

/* Container for store items */
.store-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  background-image: url("https://cdn.wallpapersafari.com/25/83/6zAhib.jpg");
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10%;

}

/* Container for individual store item */
.store-container div{
  background: black;
  padding: 1% 1%;
  margin: 2%;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 46%;

}

/* individual item icon */
.store-container div img{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* item name */
.store-container h2{
  height:40%;
  font-size: 70%;
}

/* item price size increases when hovered */
.store-container a:hover h3{
  font-size: 100%;
}

/* item img increases size when hovered */
.store-container a:hover img{
  width: 70%;
}


/*=================*/
/* Footer settings */
/*=================*/

footer{
  background-color: black;
  width: 100%;
  height: 200px;
  bottom: 0;
  border-top: 1px solid #ddd;
}

footer p{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  color: aliceblue;
}


/*=====================*/
/* responsive settings */
/*=====================*/

@media screen and (max-width: 900px){
  .navlogo img{
    width: 120px;
  }
  .main-logo{
    margin-top: 30%;
  }

  .home-mv-individual{
    flex-direction: column;
  }

  .home-mv-container{
    font-size: 80%;
  }
  .about-social-media-container{
    width: 80%;
  }

  .home-members-container div{
    font-size: 60%;
  }

  .about-member-container{
    font-size: 70%;
  }

  .about-live-container{
    flex-direction: column;
  }

  .about-live-container div{
    width: 100%;
  }

  .member-description{
    font-size: 90%;
  }

  .navbar ul li{
    width: 40%;
    font-size: 70%;
  }

  footer{
    height: 100px;
  }

  footer p{
    font-size: 70%;
  }

  .about-container p{
    font-size: 15px;
  }

}

/* remove bulky logo from the nav bar when screen width is too small */
@media screen and (max-width: 400px){
  .navlogo img{
    width: 0%;
  }

  .about-container{
    font-size: 70%;
  }

  .music-promotion{
    margin-top: 50%;
  }

  .main-logo{
    margin-top: 50%;
   
    
  }

  h2,h3{
    font-size: 90%;
  }

  .about-container p{
    font-size: 100%;
  }

}








